#page1 {
  height: 1100px;

}
#page2 {
  height: 1100px;

}
#page3 {
  height: 1100px;

}

body {
  background-image:url(../img/dog.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: #9F9F9F;
}

.well {
  margin-top: 10em;
}
